.b-status {
  position: fixed;
  bottom: -50px;
  left: 0;
  display: none;
  width: 100%;
  padding: 8px var(--section-horizontal-padding);
  color: var(--color-light-text);
  background-color: var(--color-secondary-background);
  border-top: 1px solid var(--color-on-background-secondary);
  transition: bottom ease-in-out 300ms;
  pointer-events: none;

  &.--cursor {
    position: absolute;
    display: block;
    width: fit-content;
    height: fit-content;
    padding: 8px 16px;
    opacity: 0;
    border: 1px solid var(--color-on-background-secondary);
    transform: translate(10%, -100%);
    transition: opacity ease-in-out 200ms, transform ease-in-out 200ms;
  
    &.--active {
      opacity: 1;
      transform: translate(10%, -120%);
    }
  }

  &.--active {
    bottom: 0px;
  }
}
