.b-socials-button {
  display: block;
  padding: 16px;
  color: var(--color-light-text);
  cursor: pointer;
  @include Body-3;
  transition: opacity ease-in-out 100ms;

  @media (hover: hover){

    &:hover {
      opacity: 0.5;
    }
  }

  &.--md {
    @include Body-1;
  }
}
