.m-hello-screen {
  display: grid;
  grid-template-columns: 62% 38%;
  height: 100vh;
  min-height: 640px;
  overflow: hidden;
  background-color: var(--color-secondary);

  
  &_title-container {
    display: flex;
    align-items: flex-end;
    height: 100vh;
    min-height: 640px;
    padding: 182px var(--section-horizontal-padding) 132px;
    background-color: var(--color-secondary-background);
  }

  &_title {
    color: var(--color-light-text);
    background-color: var(--color-secondary-background);
    mix-blend-mode: exclusion;
  }

  &_image {
    float: right;
    width: 100%;
    object-fit: cover;
  }
}
