.m-hard-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  padding: 156px var(--section-horizontal-padding) 156px;
  column-gap: 56px;

  &_title {
    width: 410px;
    margin-bottom: 12px;
  }

  &_list {
    flex: 1;
    min-width: 478px;
    max-width: 1010px;
  }

  &:first-child {
    padding: 156px var(--section-horizontal-padding) 106px;
  }
}
