mixin m-head
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(property='vk:image', content='')
    meta(property='og:image', content='')
    meta(property='twitter:image', content='')
    meta(property='vk:image:type', content='image/png')
    meta(property='og:image:type', content='image/png')
    meta(property='twitter:image:type', content='image/png')
    meta(name='author' content='Denis Soloviev')
    title Denis Soloviev | UX/UI Designer
    link(type="image/png" href="../../assets/images/32x32.png" rel='icon')
    link(type='image/svg+xml' href="../../assets/icons/logo.svg" rel='icon')
    link(href="../../assets/images/retina-6.png" rel='apple-touch-icon')

    block