mixin m-head
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(property='vk:image', content='assets/vk-socials-thumbnail.jpg')
    meta(property='vk:image:type', content='image/png')
    meta(property='vk:title', content='Denis Soloviev | Designer')
    meta(property='og:image', content='assets/socials-thumbnail.jpg')
    meta(property='og:image:type', content='image/png')
    meta(property='og:title', content='Denis Soloviev | Designer')
    meta(property='twitter:image', content='assets/socials-thumbnail.jpg')
    meta(property='twitter:image:type', content='image/png')
    meta(property='twitter:title', content='Denis Soloviev | Designer')
    meta(name='author' content='Denis Soloviev')
    title Denis Soloviev | Designer
    link(type="image/png" href=require("../../assets/images/32x32.png") rel='icon')
    link(type='image/svg+xml' href=require("../../assets/icons/logo.svg") rel='icon')
    link(href=require("../../assets/images/retina-6.png") rel='apple-touch-icon')

    block