mixin m-others-skills(params)
  section.m-others-skills&attributes(params.attrs)
    h2.m-others-skills_title.js-others-skills-title: |!{params.title}
    .m-others-skills_list.js-others-skills-list
      block