include ./_m-footer.pug
include ./_m-header.pug
include ./_m-about.pug
include ./_m-head.pug
include ./_m-resume.pug
include ./_m-portfolio.pug
include ./_m-soft-skills.pug
include ./_m-others-skills.pug
include ./_m-hard-skills.pug
include ./_m-contacts.pug
include ./_m-hello-screen.pug
include ./_m-on-loading.pug
include ./_m-menu.pug