:root {
  --color-primary: rgba(199, 0, 193, 1);
  --color-background: rgb(245, 245, 245);
  --color-loading-background: rgb(255, 255, 255);
  --color-secondary: rgb(12 12 12);
  --color-secondary-background: rgba(0, 0, 0, 1);
  --color-tertiary-background: rgba(255, 255, 255, 1);
  --color-on-background: rgba(0, 0, 0, 1);
  --color-on-background-secondary: rgba(178, 178, 178, 1);
  --color-on-tertiary-background: rgba(0, 0, 0, 1);
  --color-light-text: rgba(255, 255, 255, 1);
  --color-blur: rgba(0, 0, 0, 0.5);
  --color-gradient-top: linear-gradient(to bottom, rgb(245, 245, 245) 82.81%, rgba(245, 245, 245, 0) 100%);
  --color-gradient-bottom: linear-gradient(to bottom, rgba(245, 245, 245, 0) 0%, rgb(245, 245, 245) 14.58%);
}

@media (prefers-color-scheme: dark) {

  :root {
    color-scheme: dark;
    --color-primary: rgba(245, 73, 240, 1);
    --color-background: rgba(17, 17, 17, 1);
    --color-loading-background: rgb(0, 0, 0);
    --color-secondary: rgb(12 12 12);
    --color-secondary-background: rgba(0, 0, 0, 1);
    --color-tertiary-background: rgba(255, 255, 255, 1);
    --color-on-background: rgba(255, 255, 255, 1);
    --color-on-background-secondary: rgba(178, 178, 178, 1);
    --color-on-tertiary-background: rgba(0, 0, 0, 1);
    --color-light-text: rgba(255, 255, 255, 1);
    --color-blur: rgba(0, 0, 0, 0.5);
    --color-gradient-top: linear-gradient(180deg, rgb(17, 17, 17) 82.81%, rgba(17, 17, 17, 0) 100%);
    --color-gradient-bottom: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgb(17, 17, 17) 14.58%);
  }
}
