.c-menu-contacts {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 34px 32px 20px;
  background: var(--color-secondary-background);

  &_contacts {
    display: flex;
    gap: 14px;
    flex-direction: column;
    align-items: flex-start;
    padding: 14px 16px;
  }

  &_links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    column-gap: 64px;
  }
  
  &_email {
    display: flex;
    gap: 10px;
    width: fit-content;
  }

  .b-link {
    color: var(--color-light-text);
  }
}
