.c-resume-list-item {

  &_title {
    display: flex;
    gap: 12px;
    flex-direction: column;
    padding: 16px 0px 6px;
  }

  &_row-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    column-gap: 8px;
    row-gap: 2px;
  }

  &_company-date {
    display: flex;
    gap: 16px;
    flex-direction: row;
    align-items: baseline;
    margin-right: 24px;
  }

  &_company {
    @include Body-3;
  }

  &_link-or-course {
    width: fit-content;
  }

  &_date {
    margin-top: 1px;
  }

  &_text li {
    margin-top: 8px;
    margin-left: 24px;
    list-style-type: disc;
  }
  
  .b-divider {
    width: 100%;
  }
}
