- var $linkedin = 'https://www.linkedin.com/in/DenisSoloveyDesign/'
- var $behance = 'https://www.behance.net/DenisSoloveyDesign'
- var $pinterest = 'https://www.pinterest.ru/DenisSoloveyDesign'
- var $figma = 'https://www.figma.com/@DenisSolovey'
- var $dprofile = 'https://dprofile.ru/denis.solovey'

mixin c-socials(params)
  ul.c-socials&attributes(params.attrs)
    //- li.c-socials_item: +b-socials-button({attrs: {class: '--md', href: $linkedin}}): |Linkedin
    li.c-socials_item: +b-socials-button({attrs: {class: '--md', href: $dprofile}}): |Dprofile
    li.c-socials_item: +b-socials-button({attrs: {class: '--md', href: $behance}}): |Behance
    li.c-socials_item: +b-socials-button({attrs: {class: '--md', href: $pinterest}}): |Pinterest
    li.c-socials_item: +b-socials-button({attrs: {class: '--md', href: $figma}}): |Figma
  