include ./_c-navigation.pug
include ./_c-socials.pug
include ./_c-messengers.pug
include ./_c-menu-contacts.pug
include ./_c-portfolio-card.pug
include ./_c-menu-navigation.pug
include ./_c-resume-list-item.pug
