@media only screen and (max-width: 1050px) {

  :root {
    --h1-fs: 8vw;
  }

  .b-status {
    display: block;
    
    &.--cursor {
      display: none;
    }
  }

  .b-navigation-button {
    width: fit-content;
    padding: 20px 16px;
    @include Body-3;

    &::after {
      width: 52px;
      height: 52px;
      border: 6px solid var(--color-primary);
    }
  }

  .m-header {

    &_effects {
      display: none;
    }

    .c-navigation {
      display: none;
    }

    .b-menu {
      display: flex;
    }
  }

  .m-footer {
    display: none;

    &_gradient-bg.--onScroll {
      display: none;
    }
  }

  .m-hello-screen {
    grid-template-columns: none;
    grid-template-rows: 50% 50%;
    min-height: auto;

    &_grid-title-container {
      display: flex;
      align-items: flex-end;
    }

    &_title-container {
      width: 100%;
      height: 100%;
      // min-height: 400px;
      min-height: auto;
      padding: 0 var(--section-horizontal-padding) 6vw;
    }

    &_grid-image-container {
      grid-row: 1;
    }

    &_image {
      float: left;
      width: 60%;
      min-width: 590px;
      height: 100%;
      // min-height: 490px;
      min-height: auto;
      
    }
  }

  .m-menu {
    display: block;
  }

  .m-about {
    padding: 7vh var(--section-horizontal-padding);
  }

  .m-resume_list {
    min-width: 670px;
  }

  .m-soft-skills_image {
    width: 36%;
  }

  .m-contacts {
    padding: 6vw var(--section-horizontal-padding) 16px;

    &_socials {
      display: flex;
    }
  }
}
