/* stylelint-disable declaration-no-important */
@media only screen and (max-width: 1250px) {

  :root {
    --h1-fs: 6vw;
  }

  .m-hello-screen {

    &_title-container {
      min-width: 848px;
    }

    &_image {
      min-width: 505px;
    }
  }


}
