@media only screen and (max-width: 505px) {

  .m-contacts {
    padding-bottom: 8px;
  }

  .m-about_text {
    width: 400px;
  }

  .m-soft-skills {

    padding: 164px var(--section-horizontal-padding) 144px;

    &_image {
      display: none;
    }
  }
}
